body, h1, p {
    margin: 0%;
}

* {
    font-family:  Helvetica, Arial, sans-serif;
}

/*@media (max-width: 920px) {

    .app {
        position: relative;
    }

    .slogan {
        position: relative;
    }
    
}*/