@mixin flex_row_between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin flex_row_around {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@mixin flex_row_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
}